.App {
    text-align: center;
  }

 h3{
  background-color: blue;
  color: white;
  margin-bottom: 30px;
  padding: 15px;
  font-weight: 600;
 }

 label{
  font-weight: 600;
  font-size: 22px;
 }

 input{
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  width: 18rem;
  border-radius: 5px 0px 0px 5px;
 }
 .add-btn{
  background-color: green;
  color: white;
  padding: 10px 8px;
  font-weight: 600;
  border: none;
  border-radius: 0px 5px 5px 0px;
 }
 .remove-btn{
  background-color:red ;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
 }

 li{
  list-style: none;
  margin-bottom: 10px;
  font-weight: 600;
 }